header{
    background-color: #FA8072;
}
.custom-navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: all 0.3s ease-in-out;
  }
  
  .custom-navbar-brand:hover {
    color: #0056b3;
    transform: scale(1.1);
    text-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    cursor: pointer;
  }
  
  .custom-navbar-brand::before {
    content: '\1F4A1';
    margin-right: 5px;
    font-size: 20px;
    color: #ffc107;
  }
  