.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.cardStyle {
  width: 18rem;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); /* Really dark shadow */
}


.likes {
  font-size: 0.9rem;
  color: #4d7358;
  margin-top: 0.5rem;
  font-weight: bold; /* Make the text bold */
}


.iconContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.icon.like {
  color: #28a745;
}

.icon.dislike {
  color: #dc3545;
}

.errorCardStyle {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  width: 18rem;
  height: 15rem;
  margin: auto;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.background {
  background-color: black;
}
