.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.cardStyle {
  width: 15rem; /* Decrease width */
  height: auto; /* Adjust height */
  font-size: 0.9rem; /* Decrease font size */
}

.likes {
  font-size: 0.9rem;
  color: #757575;
  margin-top: 0.5rem;
}

.iconContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.icon.like {
  color: #28a745;
}

.icon.dislike {
  color: #dc3545;
}

.errorCardStyle {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  width: 15rem; /* Decrease width */
  height: auto; /* Adjust height */
  margin: auto;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.description {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #f8f8f8; /* Change color for better readability */
  font-weight: 400; /* Add font weight for normal text */
}

.descriptionTitle {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #f8f8f8;
  font-weight: 600; /* Add font weight for title */
}

.textContainer {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
}

.cardAndButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.likeButton,
.dislikeButton {
  background-color: transparent;
  border: 2px solid #f8f8f8;
  color: #f8f8f8;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 25px;
  margin: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.likeButton:hover,
.dislikeButton:hover {
  background-color: #f8f8f8;
  color: #343541;
}
